#duck-logo {
  height: 30px; 
  width: 30px;
  margin: 5px;
}

#text-logo {
  font-size: large;
  color: white;
}

header {
  background-color: none;
  backdrop-filter: blur(700px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  z-index: 1;
}

main {
  flex-grow: 1;
  z-index: 1;
  /* font-family: Outfit, sans-serif; */
  min-height: 115vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 6rem;
  /* background-color: white; */
}

body {
  margin: 0;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  color: white;
}

footer {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  /* background-color: #111111; */
  backdrop-filter: blur(200px);
  z-index: 1;
}

#title-box {
  /* background-color: green; */
  margin-top: 5rem;
  display: flex;
  gap: 5px;
  font-family: 'Inter', 'Poppins', 'Outfit', sans-serif;
  font-style: normal;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

.title-line {
  font-size: 7rem;
  margin-bottom: 0;
  line-height: 6.5rem;
}

#title-text {
  /* position: relative; */
}

.word-container {
  position: relative;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 10s linear infinite, background-scroll 10s linear infinite;
}

@keyframes background-scroll {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes fade {
  0%, 34%, 100% {
    opacity: 0%;
  }
  7%, 27% {
    opacity: 100%;
  }
}

.title-line-1 {
  background: linear-gradient(to right, aqua, lightblue, aqua);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}
.title-line-2 {
  animation-delay: 3s;
  background: linear-gradient(to right, red, yellow, orange, yellow, red);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}
.title-line-3 {
  animation-delay: 6s;
  background: linear-gradient(to right, purple, violet, pink, violet, purple);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

/* .red {
  background: linear-gradient(to right, purple, violet, pink, purple);
  background-size: 200%;
  animation: background-scroll 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */



#calc-logo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#calc-svg {
  height: 20rem;
  color: white;
}

.theme-button:hover {
  background: none;
  color: white;
  outline: 1px solid white;
}

.theme-button:active {
  background: grey;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  padding: 50px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding-inline-start: 0px;
}

li > a {
  color: white;
}

.form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
}

#cursor-cloud {
  position: absolute;
  height: 300px;
  width: 300px;
  background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 22s infinite;
}

#cursor-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(200px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.25
  }

  to {
    rotate: 360deg;
  }
}
