#terminal-logo {
  height: 30px; 
  width: 30px;
  margin: 5px;
}

#text-logo {
  font-size: large;
  color: white;
}

header {
  background-color: none;
  backdrop-filter: blur(700px);
  -webkit-backdrop-filter: blur(700px);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: border 2s;
  border-bottom: 1px solid rgb(255, 255, 255, 0);
}

#header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-content:hover {
  cursor: pointer;
  text-decoration: none;
}

.visible {
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

main {
  flex-grow: 1;
  z-index: 1;
  /* font-family: Outfit, sans-serif; */
  min-height: 115vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 6rem;
  /* background-color: white; */
}

body {
  margin: 0;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  color: white;
}

footer {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  z-index: 1;
}

#title-box {
  margin-top: 5rem;
  display: flex;
  gap: 5px;
  font-family: 'Inter', 'Poppins', 'Outfit', sans-serif;
  font-style: normal;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-fields {
  transition: all 1s;
}

#input-fields:hover {
  scale: 110%;
}

#results-container {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

#max-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#max {
  background: linear-gradient(to right, rgb(123, 31, 162), rgb(103, 58, 183), rgb(244, 143, 177), rgb(123, 31, 162));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-scroll 3s linear infinite;
}

#milestones-container {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  transition: all 1s;
}

.milestone {
  background: none;
  color: white;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  transition: all 0.6s;
}

.milestone:hover {
  scale: 110%;
  border: 1px solid rgba(255, 255, 2555, 0.5);
}

.milestone:active {
  scale: 103%;
}

.title-line {
  font-size: 7rem;
  margin-bottom: 0;
  line-height: 6.5rem;
  user-select: none;
}

.shadow {
  text-shadow: 0px 2px 5px rgba(0,0,0,0.66);
}

.word-container {
  position: relative;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 10s linear infinite, background-scroll 10s linear infinite;
}

@keyframes background-scroll {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes fade {
  0%, 34%, 100% {
    opacity: 0%;
  }
  7%, 27% {
    opacity: 100%;
  }
}

.title-line-1 {
  /* background: linear-gradient(90deg, rgba(207,136,255,1) 0%, rgba(255,99,99,1) 35%, rgba(255,192,104,1) 64%, rgba(255,155,116,1) 88%, rgba(207,136,255,1) 100%); */
  background: linear-gradient(90deg, rgba(159,0,92,1) 0%, rgba(184,9,58,1) 29%, rgba(255,4,111,1) 58%, rgba(255,43,88,1) 81%, rgba(159,0,92,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}
.title-line-2 {
  animation-delay: 3s;
  background: linear-gradient(to right, red, yellow, orange, yellow, red);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}
.title-line-3 {
  animation-delay: 6s;
  /* background: linear-gradient(to right, purple, violet, pink, violet, purple); */
  background: linear-gradient(90deg, rgba(112,53,154,1) 0%, rgba(220,99,255,1) 29%, rgba(255,104,200,1) 58%, rgba(175,98,255,1) 81%, rgba(112,53,154,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

/* .red {
  background: linear-gradient(to right, purple, violet, pink, purple);
  background-size: 200%;
  animation: background-scroll 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */



#calc-logo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#calc-svg {
  height: clamp(10rem, 45vh, 20rem);
  color: white;
}

.theme-button {
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.theme-button:hover {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.theme-button:active {
  background: grey;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  padding: 50px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding-inline-start: 0px;
}

li > a {
  color: white;
}

.form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
}

button:focus {
  box-shadow:none !important;
}

#cursor-cloud {
  position: fixed;
  height: 300px;
  width: 300px;
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /* animation: rotate 22s infinite; */
  animation: moveGradient 4s alternate infinite;
}

#cursor-blur {
  height: 100%;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(2.5px);
}

.result-hidden {
  visibility: hidden;
  height: 0;
}

.result-shown {
  visibility: visible;
  height: auto;
}

.show {
  opacity: 1;
  filter: blur(0);
}

#designed-by {
  transition: all 2s;
}

li:nth-child(2) {
  transition-delay: 100ms;
}

li:nth-child(3) {
  transition-delay: 200ms;
}

li:nth-child(4) {
  transition-delay: 300ms;
}

li:nth-child(5) {
  transition-delay: 400ms;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.25
  }

  to {
    rotate: 360deg;
  }
}
